<form (ngSubmit)="onSubmit()">
    <div class="form-group py-2">
        <label for="item">Task:</label>
        <input type="text" class="form-control" name="item" [(ngModel)]="item" placeholder="Add an item">
    </div>
    <div class="form-group py-2">
        <label for="day">Day and time:</label>
        <input type="text" class="form-control" name="day" [(ngModel)]="day" placeholder="Due date">
    </div>
    <div class="form-check py-2">
        <input type="checkbox" class="form-check-input" name="remind" [(ngModel)]="remind">
        <label class="form-check-label" for="remind">Remind</label>
    </div>
    <div class="button">
        <app-button btnStyle="btn-success" btnText="Add"></app-button>
    </div>
    <hr>
</form>